.telaLateralbar{
    width: 200px;
    position: relative;
    background: rgb(18, 18, 18);
   }

.lateralBar{
    width: 200px;
    padding-left: 20px;
    grid-area: m;
    background: rgb(18, 18, 18);
}

.header{
    height: 50px;
    color: white;
    
}

.nav{
    height: 100px;
    margin-top: 20px;
}

.fas{
    color:rgba(255, 255, 255, .6);
    margin-right: 15px;
}

.navItem{
    display: flex;
}

.navScroll{
    margin-top: 30px;
    margin-bottom: auto;
    height: 300px;
    overflow: auto;
}

@media(max-height: 900px){
    .navScroll{
        height: 250px;
    }
}
@media(max-height: 800px){
    .navScroll{
        height: 200px;
    }
}

.title{
    color:rgba(255, 255, 255, .6);
    font-size: 13px;
    letter-spacing: 1.5px;
}

.novaPlaylist{
    display: flex;
    border-top: solid rgba(255, 255, 255, .6);
    border-width: 1px;
    height: 70px;
    width: 200px;
    color:rgba(255, 255, 255, .6);
    background: rgb(18, 18, 18);
}

.espaco{
    margin-top: auto;
    margin-bottom:auto;
    margin-left: 20px;
}

.modalPlaylist{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalItem{
    width: 690px;
    height: 350px;
    background-color: rgb(40,40,40);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .5), 0 6px 20px 0 rgba(0, 0, 0, .5);
}

.cabecalho{
    display: flex;
    width: 100%;
}

.cabecalho h5{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.main{
    display: flex;
    width: 100%;
    padding-left: 20px;
}

.inputs{
    padding-left: 20px;
    width: 435px;
}
.modalPlaylist img{
    height: 210px;
}

.erro{
    margin-top: 5px;
    color: red;
}

.descricao textarea{
    width: 100%;
    height: 130px;
    border: none;
    border-radius: 5px;
    resize: none;
}
.modalPlaylist p{
    margin-bottom: 1px;
}

.modalPlaylist input{
    border: none;
    width: 100%;
}

.rodape{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#botaoCriar{
    width: 100px;
    background-color: rgba(29, 185, 84, 1);
    border: none;
}