.filaItem{
    display: flex;
    align-items: center;
    height: 70px;
    background-color: rgb(20, 20, 20);
    color: white;
    padding-left: 25px;
    padding-right: 25px;
}

.filaItem h6{
    margin-right: 20px;
    margin-bottom: 0px;
}

.filaItem img{
    width: 45px;
    height: 45px;
}

.textoFila{
    height: 40px;
}

.textoFila h6{
    line-height: 20px;
    margin-left: 20px;
}

.tempoItem{
    margin-bottom: 0px;
}

#tituloAlbum{
    margin-left: auto;
    margin-right: 250px;
    margin-bottom: 0px;
}