.filaItem{
    display: flex;
    align-items: center;
    height: 70px;
    background-color: rgb(20, 20, 20);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    padding-left: 25px;
    padding-right: 25px;
}

.filaItem:hover{
    background-color: rgb(40, 40, 40);
}

.filaItem img{
    width: 45px;
    height: 45px;
    margin-left: 25px;
    margin-right: 25px;
}

.texto{
    color: rgb(200, 200, 200);
}

.titulo{
    font-weight: 550;
}

.infos-musica{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-right: auto;
}

.opcoes{
    background-color: rgb(50, 50, 50);
    display: flex;
    align-items: center;
    padding-left: 10px;
    height: 40px;
    cursor: pointer;
}

.opcoes p{
    color: rgb(255, 255, 255);
    font-size: 30px;
    line-height: 0;
    font-weight: bold;
}

.dropdown{
    margin-left: 10px;
    width: 150px;
    background-color: rgb(40, 40, 40);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
}

.item:hover h6{
    color: white;
}