body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button{
  background-color: rgba(29, 185, 84, 1);
  border-color: rgba(29, 185, 84, 1);
}

.button:hover{
  background-color: rgb(33, 199, 91);
  border-color: rgb(33, 199, 91);
}

h6{
  color: rgb(200,200,200);
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}