.head{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid rgba(0, 0, 0, .2);
  border-width: 1px;
  height: 100px;
}

.logo{
  width: 200px;
}

.login{
  margin-top: 30px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row{
  font-family:Helvetica;
}

.textoBotao{
  font-size: small;
  letter-spacing: 1px;
  font-weight: bold;
}

#botaoFacebook{
  background-color: #3b5998;
  border-color: #3b5998; 
  height: 50px;
  margin-bottom: 5px;
}

#botaoApple{
  background-color: black;
  border-color: black;
  height: 50px;
  margin-bottom: 5px;
}

#botaoCadastro{
  background-color: white;
  border-color: rgba(0, 0, 0, .7); 
  border-width: 2px;
  height: 50px;
  color: rgba(0, 0, 0, .9); 
}

.icon{
  height: 20px;
  position: absolute;
  margin-left:85px;
  margin-top: 14px;
  filter: invert(100)
}

.linhaMetade{
  border-bottom: solid rgba(0, 0, 0, .2);
  border-width: 1px;
  width: 200px;
  height: 1px;
  margin-bottom: 17px;
}

.linha{
  border-bottom: solid rgba(0, 0, 0, .2);
  border-width: 1px;
  width: 100vw;
  height: 1px;
  margin-bottom: 17px;
}

.divisor{
  justify-content: center;
  align-items: center;
}

#textoDivisor{
  margin-left: 10px;
  margin-right: 10px;
}

#botaoLogin{
  margin-left: auto;
  background-color: rgba(29, 185, 84, 1);
  border-color: rgba(29, 185, 84, 1);
  width: 100px;
  height: 40px;
}

#meio{
  flex-wrap: nowrap;
  height: 80px;
  padding-top: 70px;
}

.textoDestacado{
  color: rgba(15, 169, 70, 1);
}

.textoDestacado:hover{
  color: black;
}

#textoRodape{
  font-weight: 700;
  letter-spacing: .5px;
}

.finalRodape{
  font-size: 11px;
  margin-top: 20px;
  color: rgba(0, 0, 0, .5);
}

.form-control{
  border-radius: 0;
  padding: 25px;
  
}