#aside{
  width: 250px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    margin-left: auto;
    align-items: center;
    background-image: linear-gradient(black , rgb(50,50,50),black);
  }

.amigos{
    width: 18vw;
    padding-left: 15px;
    padding-right: 15px;
    background: rgb(18, 18, 18);
    overflow: auto;
  }

.usuario{
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: rgb(20, 20, 20);
}

.usuario:hover{
  background: rgb(25, 25, 25);
}

.usuario h6{
  line-height: 0.7;
  font-weight: 600;
  color: rgb(150,150,150);
}

.usuario .avatar{
  margin-right: 15px;
}

  #botaoAmigos{
    width: 200px;
    background-color: rgba(0,0,0,.4);
    margin-left: auto;
    margin-right: auto;
    border-color: white;
  }

  #textoAside{
    margin-left: 50px;
  }