.layout{
  background-color: rgb(24, 24, 24);
  display: flex;
  flex-flow: column;
  height: 100vh;
}
.parteCima{
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
}

.albumArt{
  width: 180px;
  height: 180px;
  margin-left: auto;
  margin-right: auto;
}

.perfil{
  border-radius: 100%;
}

.album{
  margin-left: 10px;
  margin-right: 10px;
  width: 180px;
  height: 230px;
}

.textoAlbum{
  font-weight: 700;
  color:rgba(255, 255, 255, .9);
}
.textoAlbumPerfil{
  margin-top: 15px;
  text-align: center;
}

.textoAlbum:hover{
  text-decoration: underline;
}

.texto{
  color:rgba(255, 255, 255, .6);
}

.branco{
  color: rgb(225,225,225);
}

.scroll{
  margin-left: 20px;
  overflow: auto;
}

.textoBotao{
  font-size: 11px;
}

main{
  display: flex;
  flex-flow: column;
  overflow: hidden;
  width: 100%;
}

