.parteCima{
  display: flex;
  height: 90%;
}

@media(max-height: 870px){
  .parteCima{
    height: 89%;
  }
}
@media(max-height: 850px){
  .parteCima{
    height: 88%;
  }
}
@media(max-height: 800px){
  .parteCima{
    height: 87%;
  }
}
@media(max-height: 750px){
  .parteCima{
    height: 85%;
  }
}

.layout{
  background-color: rgb(24, 24, 24);
  display: block;
  height: 100vh;
}

.albumArt{
  width: 180px;
  margin-left: auto;
  margin-right: auto;
}

.album{
  margin-left: 10px;
  margin-right: 10px;
  width: 180px;
  height: 230px;
}

.textoAlbum{
  font-weight: 700;
  color:rgba(255, 255, 255, .9);
}

.textoAlbum:hover{
  text-decoration: underline;
}

.texto{
  color:rgba(255, 255, 255, .6);
}

.branco{
  color: rgb(225,225,225);
}

.scroll{
  margin-left: 20px;
  overflow: auto;
  height: 92%;
}

#navbar{
  grid-area: n;
}

.textoBotao{
  font-size: 11px;
}

main{
  overflow: hidden;
}