.searchbar{
    padding-left: 10px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255);
    border:rgb(0, 0, 0) solid 1px;
}

.searchbar input{
    background-color: transparent;
    border: none;
    font-weight: bold;
    width: 90%;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.results{
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    min-width: 300px;
    width: 30%;
    max-height: 50vh;
    z-index: 2;
    overflow: auto;
    scrollbar-width: thin;
}

.item{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.item h5{
    color: white;
}

.infos{
    padding-left: 10px;
}

.infos h5{
    font-weight: 600;
}
.infos h6{
    line-height: 0.7;
    font-weight: 600;
}

.main{
    min-width: 300px;
    width: 30%;
    margin-right: auto;
}

.fas{
    color: black;
}