.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
}
.menu-item.active {
  border: 1px
}

.scroll-menu-arrow {
  cursor: pointer;
}

.horizontal-menu{
  margin-top: 0px;
  border-top: solid rgba(255, 255, 255,.1) 1px;
  width: 67vw;
  height: 300px;
}