#aside{
  width: 250px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    align-items: center;
    background-image: linear-gradient(black , rgb(50,50,50),black);
  }

  #botaoAmigos{
    width: 200px;
    background-color: rgba(0,0,0,.4);
    margin-left: auto;
    margin-right: auto;
    border-color: white;
  }

  #textoAside{
    margin-left: 50px;
  }