.headere{
    display: flex;
    background-color: rgb(50, 50, 50);
    padding: 10px;
    padding-bottom: 20px;
    width: 1470px;
    height: 300px;
}

.headere img{
    margin-top: auto;
    width: 240px;
    height: 240px;
}

#Perfil{
    border-radius: 100%;
}

.infosPerfil{
    margin-top: auto;
    margin-left: 10px;
    width: 80%;
}

.infosPerfil h1{
    font-size: 80px;
    font-weight: 700;
    color: white;
}

.infosPerfil p{
    margin-bottom: 0px;
    color: white;
}

#content{
    overflow-y: auto;
    overflow-x: hidden;
}

item{
    width: 700px;
    height: 360px;
    background-color: rgb(40,40,40);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .5), 0 6px 20px 0 rgba(0, 0, 0, .5);
}

item h1{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

item img{
    width: 200px;
    height: 200px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

item input{
    width: 200px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#select{
    color:white;
}