.headere{
    display: flex;
    background-color: rgb(50, 50, 50);
    padding: 10px;
    padding-bottom: 20px;
    width: 1470px;
    height: 300px;
}

.headere img{
    margin-top: auto;
    width: 240px;
}

#Perfil{
    border-radius: 100%;
}

.infosPerfil{
    margin-top: auto;
    margin-left: 10px;
    width: 80%;
}

.infosPerfil h1{
    font-size: 80px;
    font-weight: 700;
    color: white;
}

.infosPerfil p{
    margin-bottom: 0px;
    color: white;
}

#content{
    overflow-y: auto;
    overflow-x: hidden;
}