#navbar{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    align-items: center;
}

#navcontent{
    display: flex;
}

#botaoUpgrade{
    background-color: rgba(0, 0, 0, 0);
    border-color: white;
    width: 170px;
    margin-left: auto;
}

#nome{
    margin-bottom:1px;
    margin-right: 20px;
}

#nome:hover{
    text-decoration: underline;
}